 /* General Styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    padding-top: 2rem;
    min-height: 100vh;
}

/* Variables declarations */

:root{
    --marginBottom: 1rem;
    --maxWidth: 800px;
}

.button{
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.7);
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    text-align: center;
}

    .button:hover{
        box-shadow: 2px 2px 7px rgba(0,0,0,0.7);
    }

/* Layout Styles */
.px-layout{
    padding-left: 2rem;
    padding-right: 2rem;
}

/* All DOM Styles */
.main-title{
    text-align: center;
    margin-bottom: var(--marginBottom);
}

.book-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--marginBottom);
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
}

    .button--delete{
        background-color: tomato;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.form-book{
    max-width: var(--maxWidth);
    margin-bottom: var(--marginBottom);
    margin-left: auto;
    margin-right: auto;
}
    .form-group{
        width: 100%;
        margin-bottom: var(--marginBottom);
    }
        .form-label{
            display: block;
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: bold;
        }

        .form-input{
            display: block;
            width: 100%;
            padding: 8px 0;
            border: none;
            border-bottom: 1px solid rgba(0,0,0,0.4);
            outline: none;
        }

        .button--send{
            display: table;
            background-color: steelblue;
            margin-left: auto;
        }

.table-container{
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
}

.table-book{
    width: 100%;
}

    .table-book__header{
        background-color: steelblue;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }

        .row-book{
            transition: all ease-out 0.3s;
        }

        .row-book:hover{
            cursor: pointer;
        }

        .table-book__column-name{
            text-align: center;
            padding: 0.4rem;
        }

        .row-selected {
            font-weight: bold;
            background-color: #ccc;
        }

/* State Styles */

.message {
    padding: 1rem;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 1rem;
    right: -100%;
    transition: all ease-in-out 0.3s;
}

.error{
    background-color: tomato;
}

.success{
    background-color: #7DC383;
}

.active{
    right: 1rem;
}   
